<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>

  <body>
    <h1>Hello What Are You Looking For? </h1>
    <!--<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">-->

    <!-- Insert Your Form Below -->
    <form method=POST>
      <p>Choose One</p>

      <input type="checkbox" name="Choose" value= "DownSyndrome">Information on Down Syndrome
      
    <!--    <input type="button" name="Choose" value= "ADHD">Information on ADHD-->
        
    <!--    <input type="button" name="Choose" value= "Autism">Information on Autism-->
            
    <!--    <input type="radio" name="Choose" value= "Dyslexia">Information on Dyslexia-->
              
    <!--     <input type="radio" name="Choose" value= "CerebralPalsy">Information on Cerebral Palsy-->
                  
    <!--      <input type="radio" name="Choose" value= "Epilepsy">Information on Epilepsy-->
              
    <!--      <input type="radio" name="Choose" value= "Dyscalculia">Information about Dyscalculia-->
          
    <!--  <input type="radio" name="Choose" value= "VolunteerWork">Volunteer Work -->
      
    <!--<input type="radio" name="Choose" value= "Donations">Donations-->
    
    <!--    <input type="radio" name="Choose" value= "Programs">Programs for Children with Disabilities-->
        
         <input type="submit" name= "Submit" value= "Submit">
         </form>
        </body>
      </html>
=======
      <input type="radio" name="ADHD" value= "ADHD">Information on ADHD
        <input type="radio" name="Autism" value= "Autism">Information on Autism
        <input type="radio" name="Dyslexia" value= "Dyslexia">Information on Dyslexia
<input type="radio" name="Cerebral Palsy" value= "Cerebral Palsy">Information on Cerebral Palsy
    <input type="radio" name="Epilepsy" value= "Epilepsy">Information on Epilepsy
     <input type="radio" name="Dyscalculia" value= "Dyscalculia">Information about Dyscalculia 
      <input type="radio" name="Volunteer Work" value= "Volunteer Work">Volunteer Work 
       <input type="radio" name="Donations" value= "Donations">Donations
        <input type="radio" name="Programs" value= "Programs">Programs for Children with Disabilities
