<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>

  <body>
    <h1>Hello What Are You Looking For? </h1>
    <!--<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">-->

    <!-- Insert Your Form Below -->
    <form method=POST>
      <p>Choose One</p>
      <input type="radio" name="Choose" value= "DownSyndrome">Information on Down Syndrome
      
        <input type="radio" name="Choose" value= "ADHD">Information on ADHD
        
        <input type="radio" name="Choose" value= "Autism">Information on Autism
            
        <input type="radio" name="Choose" value= "Dyslexia">Information on Dyslexia
              
         <input type="radio" name="Choose" value= "CerebralPalsy">Information on Cerebral Palsy
                  
          <input type="radio" name="Choose" value= "Epilepsy">Information on Epilepsy
              
          <input type="radio" name="Choose" value= "Dyscalculia">Information about Dyscalculia
          
      <input type="radio" name="Choose" value= "VolunteerWork">Volunteer Work 
      
    <input type="radio" name="Choose" value= "Donations">Donations
    
        <input type="radio" name="Choose" value= "Programs">Programs for Children with Disabilities
        
         <input type="submit" name= "Submit" value= "Submit">
         </form>
        </body>
      </html>