<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type= "text/css" href="stylesheets/home.css"> 
    <link href="https://fonts.googleapis.com/css?family=Dosis|Modern+Antiqua" rel="stylesheet">
  </head>

  <body>
    <ul>
  <li><a href="">Home</a></li>
</ul>
    <h1>Hello What Are You Looking For? </h1>
    
    <img class="horizontal_img" src="https://files.slack.com/files-pri/TB200QLDV-FC0UMTP7V/image.png">
    <img class="horizontal_img"src="https://files.slack.com/files-pri/TB200QLDV-FC2CN0FFY/image.png">
    <img class="vertical_img" src=https://files.slack.com/files-pri/TB200QLDV-FC17HENLV/image.png>
    <img class="vertical_img" src="https://cdn-rifton.azureedge.net/-/media/images/rifton/blog/blog-images/2013/cerebralpalsybmdchildren.jpg?la=en">

    <!-- Insert Your Form Below -->
    <form method=POST>
      <p>Choose One</p>

      <label class = "container">
      <input type="checkbox" name="Choose" value= "DownSyndrome" checked = "checked"> Information on Down Syndrome
      <span class = "checkmark"></span>
      </label>
      <!--#making check boxes so that user can choose what they want to see-->
      <label class = "container">
        <input type="checkbox" name="Choose" value= "ADHD"> Information on ADHD
        <span class = "checkmark"></span>
      </label>
       
       <label class = "container">
        <input type="checkbox" name="Choose" value= "Autism"> Information on Autism
            <span class = "checkmark"></span>
            </label>
            
            <label class = "container">
        <input type="checkbox" name="Choose" value= "Dyslexia">Information on Dyslexia
              <span class = "checkmark"></span>
              </label>
              <label class = "container">
         <input type="checkbox" name="Choose" value= "CerebralPalsy">Information on Cerebral Palsy
                  <span class = "checkmark"></span>
                  </label>
             
             <label class = "container">     
          <input type ="checkbox" name="Choose" value= "Epilepsy">Information on Epilepsy
          <span class = "checkmark"></span>
              </label>
              
              <label class = "container">
     <input type="checkbox" name="Choose" value= "Dyscalculia">Information about Dyscalculia
          <span class = "checkmark"></span>
          </label>
          
          <label class = "container">
      <input type="checkbox" name="Choose" value= "VolunteerWork">Volunteer Work 
      <span class = "checkmark"></span>
      </label>
      
      <label class = "container">
    <input type="checkbox" name="Choose" value= "Donations">Donations
    <span class = "checkmark"></span>
     </label>
     
      <label class = "container">
        <input type="checkbox" name="Choose" value= "Programs">Organizations for Children with Special Needs
        <span class = "checkmark"></span>
        </label>
  
             <input type="submit" value= "Submit" class="button">
         </form>
        </body>
      </html>
        

