<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type= "text/css" href="stylesheets/home.css"> 
    <link href="https://fonts.googleapis.com/css?family=Dosis|Modern+Antiqua" rel="stylesheet">
  </head>
  <body>

      <ul>
  <li><a href="">Home</a></li>
</ul>

    <h1> Thank you for visiting</h1>
    
    <a href="<%=@my_results%>"> Disability Directory </a>
  </body>
</html>
<!--#the user will see the link about the disability they are looking for-->